@media print {
   body {
      color: #000;
      background: #fff;
   }

   h1,
   h2,
   h3 {
      color: #000;
      background: none;
      page-break-after: avoid
   }

   img {
      max-width: 100% !important;
   }

   article {
      page-break-before: always;
   }

   ul,
   img {
      page-break-inside: avoid;
   }


   nav,
   aside {
      display: none;
   }

   body,
   article {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   article a {
      font-weight: bolder;
      text-decoration: none;
   }

   article a[href^=http]:after {
      content: " <" attr(href) "> ";
   }

   article a[href^="#"]:after {
      content: "";
   }

   $a: after > img {
      content: "";
   }

   a:not(:local-link):after {
      content: " <" attr(href) "> ";
   }

   a {
       text-decoration: none;
       color: black;
   }

   @page {
      margin: 2cm;
   }

   .part {
      page-break-before: right;
      break-before: right;
   }

   .chapter {
      page-break-before: left;
      break-before: left;
   }

   .subsectionHeader {
      page-break-after: avoid
   }

}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}


@media screen {
   .part {
      margin-top: 20px;
      margin-top: 20px;
      border-top: solid black 2px;
   }

   .chapter {
      margin-top: 20px;
      margin-top: 20px;
      border-top: solid black 1px;
   }
}

.partTitle {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   font-size: 48px;
   box-sizing: border-box;
}

.chapterTitle {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   font-size: 36px;
   box-sizing: border-box;
}

.chapterSubtitle {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: inherit;
   font-weight: 400;
   line-height: 1;
   color: #777777;
   font-size: 24px;
   box-sizing: border-box;
}

.subsectionHeader {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   line-height: 1.42857143;
   color: #333333;
   box-sizing: border-box;
   font-size: 1.2em;
   margin-top: 10px;
   font-weight: bold;
}

.requiredTroopsTitle {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   box-sizing: border-box;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 24px;
   cursor: pointer;
   color: #2b4e69;
}

.requiredTroopsDescription {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333333;
   box-sizing: border-box;
   padding: 15px;      
   display: block;
   border-color: blue;
   border-style: dotted;
}

.columnHeader {
   text-align: center;
   vertical-align: bottom;
   padding: 8px;
}

.battleLineColumn {
   text-align: center;
}


.numberColumn {
   text-align: right;
}

table {
  border-collapse: collapse;
}

.troopRow {
  border-top: solid black 1px;
  border-bottom: solid rgb(151,151,151) 1px;
}

.troopNotes {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.42857143;
    box-sizing: border-box;
}

.troopDescription {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.42857143;
    box-sizing: border-box;
}

.allyHeader {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   box-sizing: border-box;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   margin-top: 16px;
   margin-bottom: 0;
   font-size: 16px;
   color: black;
   padding-top: 4px;
   padding-bottom: 4px;
   background-color: rgb(200,200,200);
}

.error {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   line-height: 1.42857143;
   color: #8800;
   box-sizing: border-box;
   font-size: 1.2em;
   margin-top: 10px;
   font-weight: bold;
}
