@media print {
   body {
      color: #000;
      background: #fff;
   }

   h1, h2, h3 {
      color: #000;
      background: none;
      page-break-after: avoid
   }

   img {
       max-width: 100% !important;
   }

   article {
       page-break-before: always;
   }

   ul, img {
       page-break-inside: avoid;
   }


   nav, aside {
      display: none;
   }

   body, article {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   article a {
      font-weight: bolder;
      text-decoration: none;
   }

   article a[href^=http]:after {
      content:" <" attr(href) "> ";
   }

   article a[href^="#"]:after {
      content: "";
   }

$a:after > img {
   content: "";
}

a:not(:local-link):after {
   content:" <" attr(href) "> ";
}


   @page {
      margin: 2cm;
   }
}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}


@media screen {
/* Applies to all elements with <... class="someclass"> specified. */
.general_troop_type_subsection_header {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333333;
    box-sizing: border-box;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}

.army_battle_cards_subsection_header {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333333;
    box-sizing: border-box;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}

}
